<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shelf Life Calculator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Shelf Life Calculator</h1>
    <form id="calculatorForm">
      <label>Amount of desiccant in UNITS (U):</label>
      <input type="number" step="0.01" name="U" required /><br />

      <label
        >The amount of water in grams that a UNIT of desiccant can absorb at 10%
        RH and 25°C (D):</label
      >
      <input type="number" step="0.01" name="D" required /><br />

      <label>WVTR in grams / 100 inches square:</label>
      <input type="number" step="0.01" name="WVTR_in" /><br />

      <label>WVTR in grams / meters square:</label>
      <input type="number" step="0.01" name="WVTR_m2" /><br />

      <label>Length of MBB (if in millimeters):</label>
      <input type="number" step="0.01" name="L_mm" /><br />

      <label>Width of MBB (if in millimeters):</label>
      <input type="number" step="0.01" name="W_mm" /><br />

      <label>Length of MBB (if in inches):</label>
      <input type="number" step="0.01" name="L_in" /><br />

      <label>Width of MBB (if in inches):</label>
      <input type="number" step="0.01" name="W_in" /><br />

      <button type="submit">Calculate</button>
      <button type="button" onclick="clearForm()">Clear</button>
    </form>
    <p id="result"></p>

    <script>
      document
        .getElementById("calculatorForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData(event.target);
          fetch("/calculate", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              const resultElement = document.getElementById("result");
              if (data.error) {
                resultElement.textContent = data.error;
                resultElement.style.color = "red";
              } else {
                resultElement.textContent = data.shelf_life;
                resultElement.style.color = data.color;
              }
            });
        });

      function clearForm() {
        document.getElementById("calculatorForm").reset();
        document.getElementById("result").textContent = "";
      }
    </script>
  </body>
</html>
